.table {
  display: none;
}
@media (min-width: 1200px)
{
  .table {
    display: block;
  }

  .home-title {
    margin: 30px;
  }
  .pagination {
    display: grid;
    gap: 40px;
    justify-content: end;
    margin: 20px 0;
  }

  .filter {
    display: grid;
    gap: 30px;
    grid-template-columns: 3fr 3fr 4fr;
  }

  .form {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 100px;
    
  }

  .tags-group{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
  }
  
  .tags-buttons {
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
  }

  .tags {
    display: flex;    
    flex-wrap: wrap;
  }

  .tag-item{
    background-color: purple;
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 10px 2px 0;
    font-weight: 700;
  }
}